@charset "utf-8";

img {
  max-width: 98%;
}

p {
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}

.article {
  background-color: transparent;
  color: $text_color;
  line-height: 1.1;
  padding: 0em;
}

.article h1,
.article h2,
.article h3,
.article h4,
.article h5,
.article h6 {
  color: $heading_color;
  margin-top: 0em;
  margin-bottom: 0.2em;
}

.article-body a {
  color: $link_body_color;
  text-decoration: none;
}

.article-body a:hover {
  color: $link_body_hover_color;
  text-decoration: underline;
}

.article-urls-strip {
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  line-height: 1.7;
}

.article-url {
  text-decoration: none;
  padding: 0.1em 0.2em;
  border-radius: 2px;
  border: 1px solid $link_url_color;
  background-color: $link_url_color;
  color: $link_text_color;
}

.article-url:hover {
  background-color: $link_url_hover_color;
  color: $link_text_color;
}

.article-enclosure-url {
  text-decoration: none;
  text-transform: uppercase;
  padding: 0.1em 0.2em;
  border-radius: 2px;
  border: 1px solid $link_encl_color;
  background-color: $link_encl_color;
  color: $link_text_color;
}

.article-enclosure-url:hover {
  background-color: $link_encl_hover_color;
  color: $link_text_color;
}