QListWidget,
QScrollArea {
    border: 1px solid palette(light);
}


QPlainTextEdit:focus {
    border: 1px solid palette(highlight);
}

QToolTip {
    background-color: palette(window);
    color: palette(text);
    border: 1px solid palette(highlight);
    border-radius: 2px;
}

QSplitter::handle {
    background: palette(mid);
}

QStatusBar::item {
    border: none;
}