*.slo
*.lo
*.o
*.obj
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib
*.exe
*.out
*.app
*.autosave
*.user*
localization/*qm
*.TMP
resources/skins/*/*.map
aqtinstall.log
.sass-cache
build-dir/
build/
docs/build
