[submodule "resources/scripts/transka"]
	path = resources/scripts/transka
	url = https://github.com/martinrotter/transka.git
[submodule "resources/binaries"]
	path = resources/binaries
	url = https://github.com/martinrotter/qt-binaries.git
