[submodule "resources/scripts/7za"]
	path = resources/scripts/7za
	url = https://github.com/martinrotter/7za.git
[submodule "resources/scripts/nsis"]
	path = resources/scripts/nsis
	url = https://github.com/martinrotter/nsis.git
[submodule "resources/scripts/libmpv"]
	path = resources/scripts/libmpv
	url = https://github.com/martinrotter/libmpv.git
[submodule "src/librssguard/3rd-party/qlitehtml"]
	path = src/librssguard/3rd-party/qlitehtml
	url = http://code.qt.io/playground/qlitehtml.git
[submodule "src/librssguard/3rd-party/litehtml"]
	path = src/librssguard/3rd-party/litehtml
	url = https://github.com/litehtml/litehtml.git
