QWidget {
  background-color: rgb(39, 43, 48);
  color: #c8c8c8;
}

QTreeView::branch:has-siblings:!adjoins-item  {
  border-image: url(qss/dummy.png) 0;
}

QTreeView::branch:has-siblings:adjoins-item {
  border-image: url(qss/dummy.png) 0;
}

QTreeView::branch:!has-children:!has-siblings:adjoins-item  {
  border-image: url(qss/dummy.png) 0;
}

QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings  {
  border-image: none;
  image: url(qss/branch-closed.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
  border-image: none;
  image: url(qss/branch-open.png);
}

QTreeView::item {
  padding: 1px 1px 1px 1px;
} 

QTreeView[hideTree="true"]::branch:!has-chlidren:hasSiblings {
  border-image: none;
  image: none;
}

QStatusBar::item {
  border: none;
}

QSplitter::handle, QSplitter::handle:pressed {
  background-color: #525559;
}

QSplitter::handle:horizontal, QSplitter::handle:vertical {
  width: 1px;
}

QTabBar::tab {
  border: 1px solid #868789;
  border-bottom: 1px solid white;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  min-width: 8ex;
  padding: 4px;
}

QTabBar::tab:selected, QTabBar::tab:hover {
  border: 1px solid white;
}