QWidget {
  background-color: rgb(39, 43, 48);
  color: #c8c8c8;
}

QWidget::item:selected {
  background-color: #1b8cbc;
}

QWidget::item:disabled {
  background-color: #3a4047;
}

QMenu {
  border: 1px solid #3a4047;
}

QStatusBar::item {
  border: none;
}

QSplitter::handle, QSplitter::handle:pressed {
  background-color: #525559;
}

QSplitter::handle:horizontal, QSplitter::handle:vertical {
  width: 1px;
}
