@charset "UTF-8";
* {
  font-family: inherit;
  font-size: inherit; }

body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

body {
  background-color: #2F3134;
  box-sizing: border-box;
  color: #f5f5f5;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal;
  padding: 10px !important;
  min-height: 100vh; }

::selection {
  background-color: #647595;
  text-shadow: none; }

h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
details {
  margin-bottom: 10px; }

hr {
  background-color: #545556;
  border: none;
  display: block;
  height: 2px;
  margin: 10px 0; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important; }

h1 {
  font-size: 1.25rem  !important; }

h2 {
  font-size: 1.20rem  !important; }

h3 {
  font-size: 1.15rem  !important; }

h4 {
  font-size: 1.1rem   !important; }

h5 {
  font-size: 1rem     !important; }

h6 {
  font-size: .95rem   !important; }

b {
  font-weight: bold !important; }

i {
  font-style: italic !important; }

strong {
  font-weight: 800 !important; }

em {
  font-style: oblique !important; }

mark {
  background-color: #f8d08c66; }

sub,
sup {
  font-size: .8rem !important; }

small {
  font-size: .9rem !important; }

abbr {
  cursor: help;
  font-style: italic !important;
  font-weight: 100 !important; }

q {
  font-style: italic !important; }
  q::before {
    content: '“'; }
  q::after {
    content: '”'; }

time {
  font-weight: 450 !important; }

var {
  font-style: oblique !important;
  font-weight: 500 !important; }

a {
  color: #647595; }
  a:hover {
    text-decoration: none; }
  a:focus {
    box-shadow: none;
    outline: none; }

cite {
  font-style: italic !important;
  font-weight: bold !important; }

figure {
  max-width: 100%; }

figure > img {
  display: block; }

figcaption {
  font-size: .8rem !important; }

blockquote {
  border-left: 0.3em solid #545556;
  margin-left: 0;
  padding: 0 10px; }
  blockquote,
  blockquote p {
    color: #E2E2E2; }

pre,
code {
  border: 1px solid #222325;
  border-radius: 0.3em;
  color: #E2E2E2;
  font-family: monospace;
  font-size: .95rem !important; }

code {
  background-color: rgba(33, 35, 39, 0.4);
  padding: 0 .25em;
  word-break: break-word; }

pre {
  background-color: rgba(33, 35, 39, 0.4);
  overflow-x: auto;
  padding: 7px 13px;
  tab-size: 2;
  white-space: pre !important;
  width: unset !important; }
  pre > code {
    background-color: unset;
    border: none;
    color: unset;
    padding-right: 0;
    padding-left: 0;
    tab-size: 2; }

kbd {
  background: rgba(33, 35, 39, 0.4);
  border: 1px solid #222325;
  border-bottom: 3px solid #1b1c1d;
  border-radius: 0.3em;
  box-shadow: 0 2px 4px #202224, inset 0 1px #2F3134;
  font-size: .9rem !important;
  padding: .1em .4em .2em .4em; }

select {
  background-color: rgba(33, 35, 39, 0.4);
  border: 1px solid #222325;
  border-radius: 0.3em;
  color: #f5f5f5;
  padding: .04em .25em;
  width: 100%; }
  select:focus {
    box-shadow: none;
    outline: none;
    background-color: #2F3134; }
  select > option {
    background-color: #2F3134; }

table {
  border-collapse: collapse;
  width: 100% !important; }

li {
  display: list-item; }

ul,
ol {
  padding-left: 1.5em; }

ul {
  list-style-type: disc; }
  ul li ul {
    list-style-type: square; }

ol {
  list-style-type: decimal; }
  ol li ol {
    list-style-type: lower-roman; }

details {
  border: 1px solid rgba(33, 35, 39, 0.4);
  border-radius: 0.3em;
  padding: .5em .5em 0; }
  details > summary {
    background-color: rgba(33, 35, 39, 0.4);
    border-radius: 0.27em;
    cursor: pointer;
    margin: -.5em -.5em 0;
    padding-left: .5em; }
    details > summary:focus {
      box-shadow: none;
      outline: none; }
  details *:last-child {
    margin-bottom: 0; }

details[open] {
  border-color: #222325;
  padding: .5em; }
  details[open] > summary {
    border-bottom: 1px solid #222325;
    border-radius: 0.27em 0.27em 0 0;
    margin-bottom: .5em; }

iframe {
  max-width: 100%;
  height: auto;
  width: auto; }

a:focus,
select:focus,
summary:focus {
  background-color: #222325;
  text-shadow: 0 -1px #2F3134; }

:target {
  outline: 1px solid #647595; }

.rssguard-mwrapper {
  padding: 0px !important; }
  .rssguard-mwrapper .rssguard-mhead .msmall,
  .rssguard-mwrapper .rssguard-mhead .mlinks {
    opacity: .8; }
  .rssguard-mwrapper .rssguard-mhead > h1 {
    margin: 0; }
  .rssguard-mwrapper .rssguard-mhead .msmall {
    font-size: .9em; }
  .rssguard-mwrapper .rssguard-mhead .mlinks .menc {
    word-break: break-word; }
  .rssguard-mwrapper .rssguard-mhead .mlinks .mwrapurl {
    display: inline-flex; }
    .rssguard-mwrapper .rssguard-mhead .mlinks .mwrapurl a[href=""], .rssguard-mwrapper .rssguard-mhead .mlinks .mwrapurl a[href=""] + span {
      display: none; }
  @media only screen and (max-width: 800px) {
    .rssguard-mwrapper img, .rssguard-mwrapper video {
      max-width: 100% !important; } }

.rssguard-mbody {
  word-break: break-word; }

table {
  word-break: normal; }

html::before,
html::after,
body::before,
body::after {
  content: "";
  background-color: #222325;
  display: block;
  position: fixed;
  z-index: 5; }

html::before {
  height: 1px;
  left: 0;
  right: 0;
  top: 0; }

html::after {
  width: 1px;
  top: 0;
  right: 0;
  bottom: 0; }

body::before {
  height: 1px;
  right: 0;
  bottom: 0;
  left: 0; }

body::after {
  width: 1px;
  top: 0;
  bottom: 0;
  left: 0; }

::-webkit-scrollbar {
  height: 13px;
  width: 14px; }

::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background-color: #313235;
  box-shadow: inset 1px 1px #2c2d30; }

::-webkit-scrollbar-corner {
  border-radius: 0 0 0.3em 0; }

::-webkit-scrollbar-thumb {
  box-shadow: inset 1px 1px #515258, inset -1px -1px #515258, inset 0px 1px #515258, inset 0px -1px #515258, inset 1px 0px #515258, inset 1px -1px #515258, inset -1px 0px #515258, inset -1px 1px #515258; }
  ::-webkit-scrollbar-thumb:horizontal {
    background-image: linear-gradient(#3b3c40 5%, #36373b);
    min-width: 25px; }
    ::-webkit-scrollbar-thumb:horizontal:hover {
      background-image: linear-gradient(#3d3e43 25%, #36373b); }
  ::-webkit-scrollbar-thumb:vertical {
    background-image: linear-gradient(to right, #3b3c40 5%, #36373b);
    min-height: 25px; }
    ::-webkit-scrollbar-thumb:vertical:hover {
      background-image: linear-gradient(to right, #3d3e43 25%, #36373b); }
  ::-webkit-scrollbar-thumb:active {
    background-image: linear-gradient(#36373b, #36373b) !important; }

:not(body)::-webkit-scrollbar-thumb:horizontal {
  box-shadow: inset 1px 1px #515258, inset -1px -1px #515258, inset 0px 1px #515258, inset 0px -1px #515258, inset 1px 0px #515258, inset 1px -1px #515258, inset -1px 0px #515258, inset -1px 1px #515258, 1px 0px #222325, 1px 1px #222325, -1px 1px #222325, -1px 0px #222325; }
:not(body)::-webkit-scrollbar-thumb:vertical {
  box-shadow: inset 1px 1px #515258, inset -1px -1px #515258, inset 0px 1px #515258, inset 0px -1px #515258, inset 1px 0px #515258, inset 1px -1px #515258, inset -1px 0px #515258, inset -1px 1px #515258, 0px -1px #222325, 1px -1px #222325, 1px 1px #222325, 0px 1px #222325; }

::-webkit-scrollbar-thumb:horizontal,
::-webkit-scrollbar-track:horizontal {
  border-top: 1px solid #222325; }
::-webkit-scrollbar-thumb:vertical,
::-webkit-scrollbar-track:vertical {
  border-left: 1px solid #222325; }

body::-webkit-scrollbar-thumb:horizontal, body::-webkit-scrollbar-thumb:vertical,
body::-webkit-scrollbar-track:horizontal,
body::-webkit-scrollbar-track:vertical {
  border: 1px solid #222325; }
body::-webkit-scrollbar-thumb:horizontal,
body::-webkit-scrollbar-track:horizontal {
  border-top: none; }
body::-webkit-scrollbar-thumb:vertical,
body::-webkit-scrollbar-track:vertical {
  border-left: none; }

body::-webkit-scrollbar-corner {
  border: 1px solid #222325;
  border-top: none;
  border-left: none; }

::-webkit-scrollbar-track:corner-present:horizontal,
::-webkit-scrollbar-thumb:corner-present:horizontal {
  border-radius: 0 0 0 0.3em; }
::-webkit-scrollbar-track:corner-present:vertical,
::-webkit-scrollbar-thumb:corner-present:vertical {
  border-radius: 0 0.3em 0 0; }
::-webkit-scrollbar-track:horizontal,
::-webkit-scrollbar-thumb:horizontal {
  border-radius: 0 0 0.3em 0.3em; }
::-webkit-scrollbar-track:vertical,
::-webkit-scrollbar-thumb:vertical {
  border-radius: 0 0.3em 0.3em 0; }

/* Please enable JS for additional colouring features */
:root {
  --rssguard-red: 0;
  --rssguard-green: 0;
  --rssguard-blue: 0;
  --rssguard-threshold: 0.5; }

:root {
  --rssguard-r: calc(var(--rssguard-red) * 0.2126);
  --rssguard-g: calc(var(--rssguard-green) * 0.7152);
  --rssguard-b: calc(var(--rssguard-blue) * 0.0722);
  --rssguard-sum:
      calc(
          var(--rssguard-r) +
          var(--rssguard-g) +
          var(--rssguard-b)
      );
  --rssguard-perceived-lightness: calc(var(--rssguard-sum) / 255); }

body,
::selection,
mark, code, pre, pre > code,
blockquote, blockquote p {
  color: hsla(0, 0%, calc( ( var(--rssguard-perceived-lightness) - var(--rssguard-threshold) ) * -10000000% ), 0.9); }

/*# sourceMappingURL=html_style.css.map */
