QListWidget,
QScrollArea {
    border: 1px solid palette(light);
}


QPlainTextEdit:focus {
    border: 1px solid palette(highlight);
}

QToolTip {
    background-color: palette(window);
    border: 1px solid palette(dark);
    border-radius: 2px;
}

QProgressBar {
    background-color: palette(highlight);
    color: palette(window);
}

QSplitter::handle {
    background: palette(light);
}

QStatusBar::item {
    border: none;
}
