QDialog {
    border: 1px solid palette(text);
}

QMenu {
    border: 0.5px solid palette(light);
}

QMenuBar::separator, QMenu::separator {
    background-color: palette(light);
}

QMenuBar {
    background-color: palette(base);
}

QMenuBar::item:selected {
    background-color: palette(highlight);
    color: palette(highlighted-text);
}