/* This is Qt CSS theme file for the overall GUI of the application. */

QTextEdit {
  selection-background-color: #4861f0;
}

QStatusBar::item {
  border: none;
}

QSplitter::handle {
  background: rgba(117, 117, 117, 0.5);
}